<div class="col-md-12 add-project-container">
	<form id="addProjectForm" name="addProjectForm">
		<div class="col-md-12 ">
			<h2><i class="fa fa-angle-right"></i> Details du projet</h2>
			<div class="col-md-6">
				<div class="form-group">
					<label>Référence</label>
					<input type="text" ng-model="project.ref" class="form-control" placeholder="Insérez une référence">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Nom du projet</label>
					<input type="text" ng-model="project.name" class="form-control" placeholder="Insérez un nom de projet">
				</div>
				<div class="form-group">
					<label>Adresse</label>
					<textarea class="form-control" ng-model="project.adresse" placeholder="Insérez un nom de projet"></textarea>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Chef de project</label>
					<select ui-select2 ng-model="project.projectLeader" name="contributors">
						<option ng-repeat="item in items">{{item.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Collaborateurs</label>
					<select multiple ui-select2 ng-model="project.contributors" name="contributors">
						<option ng-repeat="item in items">{{item.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h2><i class="fa fa-angle-right"></i> Client et participants</h2>
			<div class="col-md-6">
				<div class="form-group col-md-8">
					<label>Client</label>
					<select ui-select2 ng-model="project.projectLeader" name="contributors">
						<option ng-repeat="item in items">{{item.name}}</option>
					</select>
				</div>
				<div  class="form-group col-md-4" style="margin-top: 20px;">
					<button ng-click="newCustomerOpen = !newCustomerOpen" class="btn btn-default btn-show col-md-4"><i class="fa" ng-class="{'fa-plus': !newCustomerOpen, 'fa-minus': newCustomerOpen}"></i>
					</button>
				</div>
				<accordion class="add-project-acc form-group col-md-12">
					<accordion-group is-open="newCustomerOpen">
						This is just some content to illustrate fancy headings.
					</accordion-group>
				</accordion>
			</div>
			<div class="col-md-6">
				<div class="form-group col-md-8">
					<label>Participants</label>
					<select multiple ui-select2 ng-model="project.projectLeader" name="contributors">
						<option ng-repeat="item in items">{{item.name}}</option>
					</select>
				</div>
				<div class="form-group col-md-4" style="margin-top: 24px;">
					<button ng-click="newParticipantOpen = !newParticipantOpen" class="btn btn-default btn-show col-md-4"><i class="fa" ng-class="{'fa-plus': !newParticipantOpen, 'fa-minus': newParticipantOpen}"></i>
					</button>
				</div>
				<accordion class="add-project-acc form-group col-md-12">
					<accordion-group is-open="newParticipantOpen">
						This is just some content to illustrate fancy headings.
					</accordion-group>
				</accordion>
			</div>
		</div>
		<div class="col-md-12">
			<h2><i class="fa fa-angle-right"></i> Plus d'informations</h2>
			<div class="col-md-6">
				<div class="form-group">
					<label>Mission</label>
					<select ui-select2 ng-model="project.projectLeader" name="contributors">
						<option ng-repeat="item in items">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Budget</label>
					<div class="form-group">
						<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
						<div class="input-group">
							<div class="input-group-addon">MAD</div>
							<input type="number" class="form-control" ng-model="project.budget" placeholder="Insérer le budget">
							<div class="input-group-addon">.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Payment</label>
					<select multiple ui-select2 ng-model="project.paymentMethods" name="contributors">
						<option ng-repeat="method in paymentMethods">{{method.percentage}} - {{method.content}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="col-md-12 form-btn-container">
		<button type="button" class="btn btn-primary">
			Créer le projet
		</button>
		<a href="#/home" class="btn btn-default">Annuler</a>
	</div>
</div>