<tabset>
	<tab>
		<tab-heading> <i class="fa fa-cubes"></i> Mes projets </tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<a href="#/addproject" class="btn btn btn-primary">
					<i class="fa fa-plus"></i> Ajouter
				</a>
				<button ng-click="refreshData()" class="btn btn btn-default">
					<i class="fa fa-refresh"></i> Recharger les données
				</button>
				<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">

					<!-- PROJETS DATATABLE -->
					<table ng-cloak datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover table-striped">
						<thead>
							<tr>
								<th>Référence</th>
								<th>Nom de projet</th>
								<th>Budget</th>
								<td>Description</td>
								<th>Deadline</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="project in projects track by $index">
								<td>{{ project.ref }}</td>
								<td>{{ project.name }}</td>
								<td>{{ project.budget }}</td>
								<td>{{ project.desc }}</td>
								<td>
									<span ng-if="project.ends" am-time-ago="project.ends"></span>
									<span class="label label-warning" ng-if="!project.ends">Non defini</span>
								</td>
								<th>
									<a href="#/project/{{project.id}}" class="show-btn btn btn-default">
										<i class="fa fa-eye"></i>
									</a>
									<button ng-click="openDeleteDialog(project)" class="show-btn btn btn-danger">
										<i class="fa fa-trash"></i>
									</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading> <i class="fa fa-tasks"></i> Mes taches</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading> <i class="fa fa-calendar-o"></i> Mon calendrier</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
</tabset>


<script type="text/ng-template" id="delProjectModal">
<div class="ngdialog-message">
	<h2>Voulez-vous vraiment supprimer ce projet ?</h2>
</div>
<div class="col-md-8 modal-btn-container">
	<button ng-click="deleteProject()" class="btn btn-primary">Confirmer</button>
	<button ng-click="closeModal()" class="btn btn-default">Annuler</button>
</div>
</script>