<tabset> <tab> <tab-heading> <i
								class="fa fa-cubes"></i> Mes projets </tab-heading>
	<div class="box border no-top">
		<div class="box-body">
			<button ng-click="openAddDialog()" class="btn btn btn-primary">
				<i class="fa fa-plus"></i> Ajouter
			</button>
			<button ng-click="refreshData()" class="btn btn btn-default">
				<i class="fa fa-refresh"></i> Recharger les données
			</button>
			<div id="DataTables_Table_0_wrapper"
				 class="dataTables_wrapper form-inline no-footer">
<!--
				<table datatable="" dt-options="dtOptions" dt-columns="dtColumns"
					   class="datatable table table-striped table-bordered table-hover dataTable"></table>
-->
				<!-- PROJETS DATATABLE -->
				<table ng-cloak datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover table-striped">
					<thead>
						<tr>
							<th>Référence</th>
							<th>Nom de projet</th>
							<th>Budget</th>
							<td>Description</td>
							<th>Deadline</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projects track by $index">
							<td>{{ project.ref }}</td>
							<td>{{ project.name }}</td>
							<td>{{ project.budget }}</td>
							<td>{{ project.desc }}</td>
							<td>
								<span ng-if="project.ends" am-time-ago="project.ends"></span>
								<span class="label label-success" ng-if="!project.ends">Non defini</span>
							</td>
							<th>
								<a href="#/project/{{project.id}}" class="show-btn btn btn-default">
									<i class="fa fa-eye"></i>
								</a>
								<button ng-click="openDeleteDialog(project)" class="show-btn btn btn-danger">
									<i class="fa fa-trash"></i>
								</button>		
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</tab> <tab> <tab-heading> <i class="fa fa-tasks"></i> Mes taches</tab-heading>
	<div class="box border no-top">
		<div class="box-body">
		work in progress...
		</div>
	</div>
	</tab>
	<tab> <tab-heading> <i class="fa fa-calendar-o"></i> Mon calendrier</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
	 </tabset>


<script type="text/ng-template" id="addProjectModal">
<form class="col-md-12">
	<div class="col-md-6">
		<div class="form-group">
			<label>Référence</label>
			<input type="text" ng-model="project.ref" class="form-control" placeholder="Insérez une référence">
		</div>
		<div class="form-group">
			<div class="form-group">
				<label>Client</label>
				<ui-select ng-model="model.selected">
					<ui-select-match placeholder="Choisir un client">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="person in people | filter: $select.search track by person.name">
						<div ng-bind-html="person.name | highlight: $select.search"></div>
						<div ng-bind-html="person.email | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="form-group">
				<label>Collaborateurs</label>
				<ui-select ng-model="model.selected">
					<ui-select-match placeholder="Ajoutez des collaborateurs">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="person in people | filter: $select.search track by person.name">
						<div ng-bind-html="person.name | highlight: $select.search"></div>
						<div ng-bind-html="person.email | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<label>Description</label>
			<textarea class="form-control" ng-model="project.desc" placeholder="Insérez un nom de projet"></textarea>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="exampleInputPassword1">Nom du projet</label>
			<input type="text" ng-model="project.name" class="form-control" placeholder="Insérez un nom de projet">
		</div>
		<div class="form-group">
			<label>Budget</label>
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">MAD</div>
                    <input type="text" class="form-control" ng-model="project.budget" id="exampleInputAmount" placeholder="Insérer un prix">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
            </form>
		</div>
		<div class="form-group">
			<label>Participants</label>
			<ui-select ng-model="model.selected">
				<ui-select-match placeholder="Ajoutez des participants">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="person in people | filter: $select.search track by person.name">
					<div ng-bind-html="person.name | highlight: $select.search"></div>
					<div ng-bind-html="person.email | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
</form>
<div class="col-md-8 modal-btn-container">
	<button ng-click="createProject()" class="btn btn-primary">Créer le projet</button>
	<button ng-click="closeModal()" class="btn btn-default">Annuler</button>
</div>
</script>


<script type="text/ng-template" id="delProjectModal">
<div class="ngdialog-message">
	<h2>Voulez-vous vraiment supprimer ce projet ?</h2>
</div>
<div class="col-md-8 modal-btn-container">
	<button ng-click="deleteProject()" class="btn btn-primary">Confirmer</button>
	<button ng-click="closeModal()" class="btn btn-default">Annuler</button>
</div>
</script>