<tabset>
	<!--PROJECT DETAILS-->
	<tab>
		<tab-heading> <i class="fa fa-cube"></i> Projet </tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<h1>{{project.name}}</h1>
				<div class="actions-btn">
					<button ng-click="" class="btn btn-success">
						<i class="fa fa-check"></i> Términer le projet
					</button>
					<button ng-click="" class="btn btn btn-primary">
						<i class="fa fa-edit"></i> Modifier
					</button>
				</div>
				<div class="col-md-4"> Créer par: <strong>{{ project.budget }}</strong>
				</div>
				<div class="col-md-4"> Budget: <strong>{{ project.budget }}</strong>
				</div>
				<div class="col-md-4"> Description: <strong>{{ project.desc }}</strong>
				</div>
				<div class="project-progressbar col-md-6">
					<small><em>Etat d'avancement</em></small>
					<progressbar animate="false" value="dynamic" type="success"><b>{{dynamic}}%</b>
					</progressbar>
				</div>
				<table datatable="ng" dt-options="dtOptionsVisitesChantier" dt-column-defs="dtColumnDefs" class="row-border hover table-striped">
					<thead>
						<tr>
							<th>Actions</th>
							<th>User</th>
							<th>E-mail</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projects track by $index">
							<td>{{ project.ref }}</td>
							<td>{{ project.name }}</td>
							<td>{{ project.budget }}</td>
							<td>
								<span ng-if="project.ends" am-time-ago="project.ends"></span>
								<span ng-if="!project.ends">Non difini</span>
							</td>
							<th>
								<a href="#/project/{{project.id}}" class="show-btn btn btn-default">
									<i class="fa fa-eye"></i>
								</a>
								<button class="show-btn btn btn-danger">
									<i class="fa fa-trash"></i>
								</button>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</tab>
	<!--TACHES-->
	<tab>
		<tab-heading> <i class="fa fa-tasks"></i> Tâches</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<h1>Tâches</h1>
			</div>
		</div>
	</tab>
	<!--FACTURATION-->
	<tab>
		<tab-heading> <i class="fa fa-money"></i> Facturation</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<h1>Facturation</h1>
				<button ng-click="openAddDialog()" class="btn btn btn-primary">
					<i class="fa fa-plus"></i> Ajouter un paiement
				</button>
				<button ng-click="refreshData()" class="btn btn btn-default">
					<i class="fa fa-refresh"></i> Recharger les données
				</button>
				<button ng-click="refreshData()" class="btn btn btn-danger">
					<i class="fa fa-times"></i> Supprimer la selection
				</button>

				<table datatable="ng" dt-options="dtOptionsVisitesChantier" dt-column-defs="dtColumnDefs" class="row-border hover table-striped">
					<thead>
						<tr>
							<th>Valeur</th>
							<th>Quand</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projects track by $index">
							<td>{{ project.ref }}</td>
							<td>{{ project.name }}</td>
							<td>{{ project.budget }}</td>
							<td>
								<span ng-if="project.ends" am-time-ago="project.ends"></span>
								<span ng-if="!project.ends">Non difini</span>
							</td>
							<th>
								<a href="#/project/{{project.id}}" class="show-btn btn btn-default">
									<i class="fa fa-eye"></i>
								</a>
								<button class="show-btn btn btn-danger">
									<i class="fa fa-trash"></i>
								</button>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</tab>
	<!--DOC EXAMINATION-->
	<tab>
		<tab-heading> <i class="fa fa-file-text"></i> Examination de document</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<h1>Examination de document</h1>
				<div class="col-md-6">
					<button ng-click="openAddDocExaminationDialog()" class="btn btn btn-primary">
						<i class="fa fa-plus"></i> Ajouter
					</button>
					<button ng-click="refreshData()" class="btn btn btn-default">
						<i class="fa fa-refresh"></i> Recharger les données
					</button>
					<button ng-click="" class="btn btn btn-danger" disabled>
						<i class="fa fa-times"></i> Supprimer la selection
					</button>
					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefsED" class="row-border hover table-striped">
						<thead>
							<tr>
								<th>Label</th>
								<th>Description</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="doc in project.docExaminations track by $index">
								<td>{{ doc.label }}</td>
								<td>{{ doc.desc }}</td>
								<th>
									<a href="#/project/{{project.id}}" class="show-btn btn btn-default">
										<i class="fa fa-eye"></i>
									</a>
									<button class="show-btn btn btn-danger">
										<i class="fa fa-trash"></i>
									</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<button ng-click="" class="btn btn btn-default btn-right">
						<i class="fa fa-print"></i> Imprimer
					</button>
					<button ng-click="" class="btn btn btn-default btn-right">
						<i class="fa fa-paper-plane"></i> Envoyer
					</button>
					<div id="doc-examination">
						
						
					</div>
				</div>
			</div>
		</div>
	</tab>
	<!--FICHE DESCRIPTIVE-->
	<tab>
		<tab-heading> <i class="fa fa-clipboard"></i> Fiche descriptive</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<h1>Fiche descriptive</h1>
			</div>
		</div>
	</tab>
	<tab>
		<tab-heading> <i class="fa fa-map-marker"></i> Visites de chantier</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				<h1>Visites de chantier</h1>
				<button ng-click="openAddDialog()" class="btn btn btn-primary">
					<i class="fa fa-plus"></i> Ajouter une visite
				</button>
				<button ng-click="refreshData()" class="btn btn btn-default">
					<i class="fa fa-refresh"></i> Recharger les données
				</button>
				<button ng-click="refreshData()" class="btn btn btn-danger">
					<i class="fa fa-times"></i> Supprimer la selection
				</button>
				<table datatable="ng" dt-options="dtOptionsVisitesChantier" dt-column-defs="dtColumnDefs" class="row-border hover table-striped">
					<thead>
						<tr>
							<th>Statut</th>
							<th>Activités</th>
							<th>Désignation</th>
							<th>Date</th>
							<th>Fichiers</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projects track by $index">
							<td>{{ project.ref }}</td>
							<td>{{ project.name }}</td>
							<td>{{ project.budget }}</td>
							<td>
								<span ng-if="project.ends" am-time-ago="project.ends"></span>
								<span ng-if="!project.ends">Non difini</span>
							</td>
							<th>
								<a href="#/project/{{project.id}}" class="show-btn btn btn-default">
									<i class="fa fa-eye"></i>
								</a>
								<button class="show-btn btn btn-danger">
									<i class="fa fa-trash"></i>
								</button>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</tab>
</tabset>


<!-- DOCEXAMINATION MODALS -->

<script type="text/ng-template" id="addDocExaminationModal"> 
	<form class="col-md-12">
		<div class="col-md-12">
			<h2 class="col-md-6">Nom du projet: </h2> 
			<h2 class="col-md-6">{{project.name}}</h2>
		</div>
		<div class="col-md-12">
			<h2 class="col-md-6">Reference du projet: </h2> 
			<h2 class="col-md-6">{{project.ref}}</h2>
		</div>
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
		</div>
	</form>
	<div class="col-md-8 modal-btn-container">
		<button ng-click="createDocExamination()" class="btn btn-primary">Créer le document</button>
		<button ng-click="closeModal()" class="btn btn-default">Annuler</button>
	</div>
</script>