<tabset> <tab> <tab-heading> <i class="fa fa-cube"></i> Projet </tab-heading>
	<div class="box border no-top">
		<div class="box-body">
			
		</div>
	</div>
	</tab> <tab> <tab-heading> <i class="fa fa-tasks"></i> Tâches</tab-heading>
	<div class="box border no-top">
		<div class="box-body">
			work in progress...
		</div>
	</div>
	</tab>
	<tab> <tab-heading> <i class="fa fa-users"></i> Collaborateurs</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
	<tab> <tab-heading> <i class="fa fa-money"></i> facturation</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
	<tab> <tab-heading> <i class="fa fa-file-text"></i> Examination de document</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
	<tab> <tab-heading> <i class="fa fa-clipboard"></i> Fiche descriptive</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
	<tab> <tab-heading> <i class="fa fa-map-marker"></i> Visites de chantier</tab-heading>
		<div class="box border no-top">
			<div class="box-body">
				work in progress...
			</div>
		</div>
	</tab>
</tabset>