<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Cadroctet tools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/animate.css">
  <link rel="stylesheet" href="/styles/pnotify.custom.css">
  <link rel="stylesheet" href="/styles/ngDialog.css">
  <link rel="stylesheet" href="/styles/ngDialog-theme-flat.css">
  <link rel="stylesheet" href="/styles/jquery.dataTables.css">
  <link rel="stylesheet" href="/styles/dataTables.bootstrap.css">
  <link rel="stylesheet" href="/styles/dataTables.responsive.css">
  <link rel="stylesheet" href="/styles/select2.css">
  <link rel="stylesheet" href="/styles/main.css">
  <!--STYLES END-->	
</head>
<body>
  <%-body%>
    
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/jquery.dataTables.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/select2.min.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/angular-sails.js"></script>
<script src="/js/dependencies/angular-route.js"></script>
<script src="/js/dependencies/angular-sanitize.js"></script>
<script src="/js/dependencies/angular-resource.js"></script>
<script src="/js/dependencies/angular-filter.js"></script>
<script src="/js/dependencies/angular-ui.js"></script>
<script src="/js/dependencies/angular-select2.js"></script>
<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/moment.js"></script>
<script src="/js/dependencies/angular-moment.js"></script>
<script src="/js/dependencies/pnotify.custom.js"></script>
<script src="/js/dependencies/angular-pnotify.js"></script>
<script src="/js/dependencies/ngDialog.js"></script>
<script src="/js/dependencies/angular-datatables.js"></script>
<script src="/js/dependencies/dataTables.responsive.js"></script>
<script src="/js/coreApp/app.js"></script>
<script src="/js/coreApp/controllers.js"></script>
<script src="/js/coreApp/dependencies.js"></script>
<script src="/js/coreApp/directives.js"></script>
<script src="/js/coreApp/filters.js"></script>
<script src="/js/coreApp/routes.js"></script>
<script src="/js/coreApp/services.js"></script>
<!--SCRIPTS END-->		
	
</body>
</html>
