* {
	box-sizing: border-box;
}

body{
	background: url('../images/bg-motif.png');
	background-color: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	-webkit-overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-y: scroll;
}

body{
	overflow-x: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.primary{
	margin-bottom: 50px;
}

.white{
	color: #fff !important;
}

.loader{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 1;
	background-color: #fff;
	z-index: 5;
	text-align: center;
}

.loader img{
	position: absolute;
	margin: auto;
	width: 30%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loader-small{
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 60px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 70px;
	color: rgba(216, 216, 216, 0.8);
	text-shadow: 1px 0px 6px, 0 0 0 #000, 1px 4px 6px rgba(255, 255, 255, 0);
	font-weight: bold;
	line-height: 1em;
}

.center{
	transform:translate3D(0%, 0, 0);
    -ms-transform:translate3D(0%, 0, 0);
    -webkit-transform:translate3D(0%, 0, 0);
}

.right{
	transform:translate3D(100%, 0, 0);
    -ms-transform:translate3D(100%, 0, 0);
    -webkit-transform:translate3D(100%, 0, 0);
}

.main-view-container{
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}


/* NAVIGATION STYLING */ 
.nav-tabs>li>a, .nav-tabs>li>a:hover {
    cursor: pointer;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    cursor: default;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    border-bottom-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #d3a7f0;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
} 

.navbar-default {
    color: #fff;
    background: #5b3777;
    border-color: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b3777), color-stop(100%, #7B5598 ));
	background: -webkit-linear-gradient(top, #5b3777, #7B5598 );
	background: -moz-linear-gradient(top, #5b3777, #7B5598 );
	background: -ms-linear-gradient(top, #5b3777, #7B5598 );
	background: -o-linear-gradient(top, #5b3777, #7B5598 );
	background: linear-gradient(to bottom, #5b3777, #7B5598 );
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.dropdown-menu {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C7CBD5;
    border-top-width: 0px;
	display: none;
	float: left;
	left: 0;
	font-size: 14px;
	list-style: none outside none;
	margin: 0;
	width: 300px;
	min-width: 166px;
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 100%;
	z-index: 1000;
}

.dropdown-menu .dropdown-title {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b3777), color-stop(100%, #7B5598 ));
	background: -webkit-linear-gradient(top, #5b3777, #7B5598 );
	background: -moz-linear-gradient(top, #5b3777, #7B5598 );
	background: -ms-linear-gradient(top, #5b3777, #7B5598 );
	background: -o-linear-gradient(top, #5b3777, #7B5598 );
	background: linear-gradient(to bottom, #5b3777, #7B5598 );
	color: #FFFFFF;
	display: block;
	font-weight: 600;
	line-height: 30px;
	padding: 5px 10px;
}

.dropdown-menu li a {
	background-color: #f4f4f4;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #E7E7E7;
	display: block;
	line-height: 40px;
	padding: 0 10px;
	transition: all .6s;
}

.dropdown-menu li a:hover {
	background-color: rgba(123, 85, 152, 0.59);
	color: #fff;
}

.dropdown-menu.inbox .body {
	position: relative;
	display: inline-block;
	line-height: 20px;
	max-width: 220px;
	vertical-align: middle;
	white-space: normal;
	margin: 5px 0;
}

.dropdown-menu.inbox .from {
	display: inline-block;
	line-height: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.dropdown-menu.inbox .message {
	line-height: 16px;
	display: block;
	margin-bottom: 5px;
}

.dropdown-menu.inbox .time{
	color: #777777;
	display: block;
	font-size: 12px;
}

.dropdown-menu.inbox .time .fa{
	color: #777777;
	text-shadow: none !important;
}

.dropdown-menu .footer {
	display: block;
	position: relative;
	height: auto; 
}

.dropdown-menu .footer a {
	background-color: #dbdbdb !important;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-bottom: none !important;
	border-top: none !important;
}

.dropdown-menu .divider{
	height: 2px;
	margin: 0;
	overflow: hidden;
	background-color: #FFFDFD;
}

.navbar .dropdown-toggle .badge {
	background-color: #dd5a43;
	border-radius: 99px !important;
	font-size: 12px !important;
	font-weight: 300;
	height: 16px;
	padding: 2px 6px;
	position: absolute;
	right: 24px;
	text-align: center;
	text-shadow: none !important;
	top: 8px;
}

.center-child{
    text-align: center;
}

.panel{
    border-top-left-radius: 0;
    border-color: #5b3777;
}

.panel-heading {
    border-top-left-radius: 0;
}

.navbar {
	width: 100%;
	position: fixed;
    border-radius: 0;
	margin-bottom: 0;
	z-index: 2;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.panel-primary>.panel-heading {
    color: #fff;
    background: #5b3777;
    border-color: transparent;
}

.panel-title {
	line-height: 30px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    cursor: default;
    color: #fff;
    background: #5b3777;
    border-color: transparent;
    border-bottom-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #5b3777;
    border-color: #5b3777;
}

.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #472761;
    border-color: #472761;
}

a {
    color: #5b3777;
    text-decoration: none;
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar-brand img{
	width: 160px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 54px;
	line-height: 54px;
	background: #eee;
	border-top: 1px solid #eee;
	box-shadow: inset 0 1px 0 #fff;
	overflow: hidden;
}

.footer .container {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.orange{
	color: #fd7022;
}

.jumbotron {
	padding: 0;
	margin-bottom: 30px;
	color: inherit;
	background-color: transparent;
	text-align: center;
}

.widget-header+.widget-body {
	border-color: #5b3777;
	margin-top: 0px;
}
.widget-body {
	border: 1px solid #CCC;
	border-top: 0;
	background-color: #FFF;
}

.widget-header {
	background: #5b3777;
	border: 1px solid #5b3777;
	box-sizing: content-box;
	position: relative;
	min-height: 38px;
	padding: 0 12px 0;
	color: #fff;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.list-group-item{
	cursor: pointer;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background: #5b3777;
	border-color: transparent;
}

.list-group-item.active small, .list-group-item.active:hover small, .list-group-item.active:focus small{
	font-size: 75%;
	color: #fff;
}

.badge{
	background: #fd7022;
	margin-left: 2px;
	margin-right: 2px;
}

small{
	font-size: 75%;
	color: #969696;
}

.list-group {
	padding-top: 10px;
}

.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.icon-btn .dropdown-toggle{
	font-size: 26px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.icon-btn .fa{
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45), 0px -1px 0px rgba(0,0,0,.7);
	color: #4D2E64;
}

.icon-btn.open .fa{
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: transparent;
	color: #d3a7f0;
}

@media (min-width: 768px){
	.navbar-right {
		float: right!important;
		margin-right: 25px;
	}
}


/* PROFIL STYLING */

.profil-container{
	margin-left: 20px;
	margin-right: 20px;
}
.well {
	margin-top: -20px;
	border: 2px solid #5b3777;
	text-align: center;
	cursor: pointer;
	font-size: 25px;
	padding: 15px;
	border-radius: 0px !important;
	color: #fff;
	background: #5b3777;
	border-color: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b3777), color-stop(100%, #7B5598 ));
	background: -webkit-linear-gradient(top, #5b3777, #7B5598 );
	background: -moz-linear-gradient(top, #5b3777, #7B5598 );
	background: -ms-linear-gradient(top, #5b3777, #7B5598 );
	background: -o-linear-gradient(top, #5b3777, #7B5598 );
	background: linear-gradient(to bottom, #5b3777, #7B5598 );
}

.well:hover {
    background-color:#0077B2;
    border: 2px solid #5b3777;
}

.bg_blur
{
    background-image:url('../images/cadroctet-profil-background.jpg');
    height: 300px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-top:70px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.header blockquote {
	border-left: none;
	margin: 0;
	margin-top: 20px;
}

.header blockquote .col-sm-12{
	padding: 0;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;
   
}

/* Breadcrumbs STYLING */
.breadcrumb-container{
	position: fixed;
	width: 100%;
	top: 52px;
	margin-bottom: 20px;
	margin-right: 0px;
	background: #fff;
	border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	z-index: 1;
    margin-left: 0;
}

.btn-breadcrumb .btn{
	border-color: transparent;
}

.btn-breadcrumb .btn:hover{
	background: transparent;
	color: #5b3777;
}

.btn-breadcrumb .btn.disabled{
	border-color: transparent;
	color: #5b3777;
}


.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
	background: transparent;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
	background: transparent;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}


.header blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
	color: #5b3777
}


.friend-list{
	position: fixed;
	background: #f4f4f4;
	list-style: none outside none;
	top: 88px;
	padding-right: 0;
	padding-left: 0;
	border-left: solid 1px #cecece;
	right: 0;
	min-height: 88%;
	-webkit-transition-duration: .3s; /* Safari */
	transition-duration: .3s;
    box-shadow: -5px 0 3px -6px #181818;
}

.friend-list li a {
	background-color: #f4f4f4;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #E7E7E7;
	display: block;
	line-height: 40px;
	padding: 0 10px;
	cursor: pointer;
	transition: all .6s;
}

.friend-list li a .time{
	transition: all .6s;
}

.friend-list li a:hover{
	background: rgba(91, 55, 119, 0.6);
	color: #fff;
}

.friend-list li a:hover .time{
	color: #fff;
}

.friend-list img {
	border-radius: 50em 50em 50em 50em;
	height: 40px;
	margin-right: 10px;
	width: 40px;
	vertical-align: middle;
}

.friend-list .body {
	position: relative;
	display: inline-block;
	line-height: 20px;
	max-width: 220px;
	vertical-align: middle;
	white-space: normal;
	margin: 5px 0;
}

.friend-list .from {
	display: inline-block;
	line-height: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.friend-list .message {
	line-height: 16px;
	display: block;
	margin-bottom: 5px;
}

.friend-list .time {
	color: #777777;
	display: block;
	font-size: 12px;
}

.friend-list-title{
	background: none repeat scroll 0 0 #5b3777;
	color: #FFFFFF;
	display: block;
	font-weight: 600;
	line-height: 30px;
	padding: 5px 10px;
}


.principal{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	overflow: auto;
	height: auto;
	top: 130px;
	position: absolute;
}

.horizontal-bar{
	height: 80px;
	background: #fff;
}

/* CHAT WIDGET STYLING */

.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    right:17%;
	width: 320px;

}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
	-moz-box-shadow: 1px 1px 5px 0px #656565;
	-webkit-box-shadow: 1px 1px 5px 0px #656565;
	-o-box-shadow: 1px 1px 5px 0px #656565;
	box-shadow: 1px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
.icon_minim{
    padding:2px 10px;
}

.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  height:250px;
  max-height:250px;
  overflow-x:hidden;
}

.top-bar {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b3777), color-stop(100%, #7B5598 ));
	background: -webkit-linear-gradient(top, #5b3777, #7B5598 );
	background: -moz-linear-gradient(top, #5b3777, #7B5598 );
	background: -ms-linear-gradient(top, #5b3777, #7B5598 );
	background: -o-linear-gradient(top, #5b3777, #7B5598 );
	background: linear-gradient(to bottom, #5b3777, #7B5598 );
	color: #fff !important;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.chat-window img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.msg_sent > time{
    float: right;
}

.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.avatar {
	position: relative;
}

.col-md-2.avatar {
	padding: 0;
}

.pointer{
	cursor: pointer;
}

.close-pointer{
	cursor: pointer;
	color: #fff;
}

.close-pointer:hover{
	cursor: pointer;
	color: #d3a7f0;
}

.nav-tabs {
	border-bottom: 1px solid #dddddd;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.tab-content>.active, .pill-content>.active {
	display: block;
}

.box {
	clear: both;
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 0px;
}

.border {
	border-color: #cccccc;
}

.box.border, .box.solid {
	border: 1px solid #c4c4c4;
	border-radius: 4px;
}

.box.border .box-body, .box.solid .box-body {
	border-radius: 0 0 4px 4px;
	padding: 10px;
	background-color: #FFFFFF;
}

.box.border.no-top {
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	border-top: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	cursor: default;
	color: #000;
	background: #fff;
	border: 1px solid #c4c4c4;
	border-bottom-color: transparent;
}


/* DATATABLES */
.table.dataTable.no-footer{
	width: 100% !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 8px 0px 8px 0px;
	line-height: 1.428571429;
	vertical-align: middle;
	border-top: 1px solid #dddddd;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f2f2f2;
	text-align: center;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: transparent;
	text-align: center;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 2px;
}

.datatable thead {
	border-bottom: 1px solid #000;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
	border-top: 0;
	border-bottom: solid 1px #000;
}

.dataTables_wrapper{
	margin-top: 20px;
}

.modal-btn-container {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.dataTable{
	text-align: center;
}

.dataTable th{
	text-align: center;
}


div.dataTables_filter input {
    width: 16em;
    border: 1px solid #B8B8B8;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px #E4E4E4;
}

.btn-breadcrumb{
	margin-left: 20px;
}

thead tr{
    background-color: #5B3777;
    color: #fff  
}

.ngdialog-message h2{
	color: #5b3777;  
}

.tab-pane h1 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    color: #959396;
    padding-bottom: 15px;
    font-size: 26px;
}

table {
    border: 1px solid #5B3777;
}

.actions-btn  {
    margin-bottom: 30px;
}
/* ANNIMATON STYLING*/

.ng-enter{
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode:both;
	-moz-animation-duration:1s;
	-moz-animation-fill-mode:both;
}


.main-view.ng-enter{
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
}

.chat-window.ng-hide{
	-webkit-animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name: fadeOutDown;
	-moz-animation-duration:.5s;
	-moz-animation-fill-mode:both;
	-moz-animation-name: fadeOutDown;
}

.chat-window{
	-webkit-animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name: fadeInUp;
	-moz-animation-duration:.5s;
	-moz-animation-fill-mode:both;
	-moz-animation-name: fadeInUp;
}

.icon-btn .dropdown-menu{
	-webkit-animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name: fadeOutUp;
	-moz-animation-duration:.5s;
	-moz-animation-fill-mode:both;
	-moz-animation-name: fadeOutUp;
}

.open>.dropdown-menu {
	-webkit-animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name: fadeInDown;
	-moz-animation-duration:.5s;
	-moz-animation-fill-mode:both;
	-moz-animation-name: fadeInDown;
}

.friend-list.ng-hide-add{
	-webkit-animation-duration:.2s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name: fadeOutRight;
	-moz-animation-duration:.2s;
	-moz-animation-fill-mode:both;
	-moz-animation-name: fadeOutRight;
}

.friend-list.ng-hide-remove{
	-webkit-animation-duration:.2s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name: fadeInRight;
	-moz-animation-duration:.2s;
	-moz-animation-fill-mode:both;
	-moz-animation-name: fadeInRight;
}
